@model List<ScopoCMS.Web.Models.Post>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    string text = "";
}

<style>
    body {
        background-color: lightgray;
    }

    @@font-face {
        src: url('../../wwwroot/css/Niladri Ratna.ttf')
    }
</style>

<div class="row m-3">

    @foreach (var item in Model)
    {
        System.TimeSpan d = DateTime.Now.Subtract(item.PublishDate);
        if (d.Hours > 0)
        {
            text = d.Hours + " ঘন্টা আগে সর্বশেষ আপডেট হয়েছে ";
        }
        else if (d.Hours > 24)
        {
            text = d.Days + " দিন আগে সর্বশেষ আপডেট হয়েছে ";
        }
        else
        {
            text = d.Minutes + " মিনিট আগে সর্বশেষ আপডেট হয়েছে";
        }


        <div class="col-md-6 card shadow rounded p-md-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img style="height:100%;width:100%;" src="@Url.Content(item.ImagePath)" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Posts/PostDetails/@item.PostID" style="text-decoration:none; color:black;">@item.Title</a>
                        </h5>
                        <p class="card-text">
                            @Html.Raw(item.ShortDesc)
                        </p>
                        <p style="font-family: siyamrupaliANSI;font-size: 10px;color: #8e8c8c"><small class="text-muted"></small> @text </p>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
